<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns="http://www.springframework.org/schema/beans" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.0.xsd 
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd ">
<!-- 5.springmvc管理controller下的对象-->
<context:component-scan base-package="com.ncu.controller"></context:component-scan>

<!-- 最终配置 注解驱动，代替处理器适配器+处理器映射器，高级参数绑定-->
<mvc:annotation-driven/>
 
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix" value="/jsp/"></property>
	<property name="suffix" value=".jsp"></property>
</bean>

<!-- 配置springmvc文件上传解析器 name取名必须为multipartResolver-->
<bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="maxUploadSize" value="5000000"></property>
</bean>

<!-- 静态资源方行 -->
<mvc:resources location="/resource/js/" mapping="/resource/js/**"/>
<mvc:resources location="/resource/images/" mapping="/resource/images/**"/>
<mvc:resources location="/resource/css/" mapping="/resource/css/**"/>
<!--静态资源方行  放行富文本编辑器插件 -->
<mvc:resources location="/kindeditor/" mapping="/kindeditor/**"/>
<!-- 静态资源方行 放行xls文件 -->
<mvc:resources location="/jsp/model/" mapping="/jsp/model/**"/>
<!-- 静态资源方行 放行可视化图形报表插件 -->
<mvc:resources location="/highcharts/" mapping="/highcharts/**"/>
<!-- 静态资源方行 放行ztree菜单插件 -->
<mvc:resources location="/ztree/" mapping="/ztree/**"/>
<!-- 静态资源方行 放行html页面 (虽然web.xml中用的是/可以放行jsp文件,这里为了便于记忆情况为/*拦截所有文件时,写几个出来当模板)-->
<mvc:resources location="/jsp/customer/" mapping="/jsp/customer/**"/>
<mvc:resources location="/jsp/admin/" mapping="/jsp/admin/**"/>
<mvc:resources location="/jsp/employee/" mapping="/jsp/employee/**"/>
<mvc:resources location="/jsp/frame/" mapping="/jsp/frame/**"/>

</beans>